@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

/*nav bar stays at top of screen after scrolling down, added background color*/
nav {
    position: sticky;
    top: 0;
    background-color: white;
}


/*newspaper layout*/

body {
    font-family: Source Sans Pro; 
    font-size: large;  
    background-color: #eee ;
}

.newspaper-container {
    box-shadow: 4px 2px 2px #ddd;
    border-radius: 15px;
    background-color: white;
    width: 70%;
    margin: auto;
    margin-top: 30px;
    padding: 25px;
}

h1 {
    text-align: center;
    font-family: Abril Fatface;
    font-size: 3em;
    margin: auto;
    padding: 5px;
}

a {
   color: #777;   
   text-decoration: none;
}

ul {
    border-top:solid 1px #777;
    border-bottom:solid 1px #777;
    text-align: center;
    padding-inline-start: 0em;
    color: #777;
}

li {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
}

/*article layouts*/
main {
    border-bottom:solid 1px #777;
}

img {
    width: 100%;
}

p {
    text-align: justify;
}

h2 {
    font-family: Roboto Slab;
    margin-bottom: 0em;
}

h5 {
    color: red;
    margin-top: 0.75em;
}

h4 {
    font-family: Roboto Slab;
}

.more-articles {
    display: inline-flex;
    padding: 0px 30px;
}

section {
    padding: 20px;
}